.project {
  display: flex;
}
.project-icon {
  width: 20;
  height: 20;
  background-color: #3Eb575;
  border-radius: 50%;
}
.project-content {
  width: 6.4rem;
  margin-left: 10;
  margin-top: -10;
  margin-bottom: 20;
  padding:20;
  background-color: #3Eb575;
  border-radius:0.1rem;
  color:#fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-content::before {
  content: "";
  width: 0;
  height: 0;
  border: 8 solid transparent;
  border-left-width: 8;
  border-left-style: solid;
  border-left-color: #ebeef5;
  transform: rotateZ(180deg);
  position: absolute;
  left: -16;
  top: 10;
}

.project-title{
  height:1rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.project-name{
  font-size:0.3rem;
  font-weight: bolder;
}
.project-time{
  font-size:0.25rem;
}

.project-desc{
  text-indent: 0.5rem;
  font-size:0.2rem;
}
.project-result{
  display:flex;
  flex-direction: row;
}
