.done {
  display: flex;
}
.doneIcon {
  width: 20;
  height: 20;
  background-color: #3Eb575;
  border-radius: 50%;
}
.doneContent {
  width: 6.4rem;
  margin-left: 10;
  margin-top: -10;
  margin-bottom: 20;
  padding:20;
  background-color: #3Eb575;
  border-radius:10px;
  color:#fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.doneContent::before {
  content: "";
  width: 0;
  height: 0;
  border: 8 solid transparent;
  border-left-width: 8;
  border-left-style: solid;
  border-left-color: #ebeef5;
  transform: rotateZ(180deg);
  position: absolute;
  left: -16;
  top: 10;
}

.doneTitle{
  height:1rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.projectName{
  font-size:0.3rem;
  font-weight: bolder;
}
.projectTime{
  font-size:0.25rem;
}
.doneDesc{
  display:flex;
}
.doneResult{
  display:flex;
  flex-direction: row;
}
