
@import '~@/styles/index.less';

.user-item-wrap {
  background-color: var(--theme-color);
  border-radius:0.1rem;
  color:#fff;
}
.user-item{
  height:0.5rem;
  display:flex;
  align-items: center;
  font-size:0.26rem;
  margin-left:0.2rem;
}
.user-label{
  display:flex;
  justify-content: flex-end;
  align-items: center;
}