.floor{
  width:7rem;
  margin-left:0.25rem;
  margin-right:0.25rem;
  margin-top:0.2rem;
  position:relative;
}
.floor-title{
  width:100%;
  height:0.6rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size:0.32rem;
  font-weight: bolder;

}