
.wrap{
  width:7.5rem;
  height:5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#fff;
  :global{
    .swiper{
      z-index:auto;
    }
    .swiper-wrapper{
      z-index:auto;
    }
    .swiper-pagination{
      z-index:auto;
    }
    .swiper-pagination-bullet{
      width:0.15rem;
      height:0.15rem;
    }
    .swiper-pagination-bullet-active{
      background-color:var(--theme-color)
    }
  }
}
.cell {
  width:100%;
  height:90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(var(--theme-color) 50%,transparent);
}
.iconWrap{
  width:3rem;
  height:3rem;
  border-radius:0.05rem;
  display:flex;
  justify-content: center; 
  align-items: center;

}
.icon{
  filter: drop-shadow(0.02rem 0.04rem 0.06rem var(--theme-color));
}
.textWrap{
  width:4rem;
  height:3rem;
  display:flex;
  justify-content: center; 
  align-items: center;
  color:#fff;
  font-size:0.36rem;
}
.text{

}
.title{
  font-size:0.32rem;
}
.desc{
  height:0.5rem;
  display:flex;
  align-items: center;
  font-size:0.26rem;
}