.project-list-cell{
  width:3.2rem;
  height:fit-content;
  padding:0.1rem;
  border-radius:0.1rem;
  // background-color:var(--theme-color);
  box-shadow: 0.01rem 0.01rem 0.1rem 0.01rem var(--theme-color);
  color: var(--theme-color);
  margin-bottom:0.1rem;
  display:flex;
  flex-direction: column;
}
.project-list-cell-title{
  font-size:0.32rem;
  font-weight: bolder;
}
.project-list-cell-time{
  height:0.4rem;
  line-height:0.4rem;
  font-size:0.22rem;

}
.project-list-cell-desc{
  font-size:0.22rem;
  text-indent:0.4rem;
  line-height: 0.4rem;
}