.page-header {
  position: relative;
  width: 7.5rem;
}
.page-header-bg {
  width: 7.5rem;
  opacity: 0;
}
.page-header-fixed {
  position: fixed;
  overflow:hidden;
  top: 0;
  // left: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.page-header-content-wrap {
  width: 7.5rem;
  z-index: 2;
}
.page-header-content {
  width:7.5rem;
  height:100%;
  overflow:hidden;
  position: absolute;
  top: 0;
  left: 0;
}
