.marquee {
  width: 2rem;
  height: 0.5rem;
  overflow: hidden;
  border: solid 0.02rem #FFF;
}
.marquee-item {
  width: 2rem;
  height: 0.5rem;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
