.projectInfo {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
}
.projectList {
  margin-left:0.25rem;
  margin-right:0.25rem;
  display: flex;
  flex-direction: column;
}
.projectItemWrap {
  display: flex;
}
.projectItemBar {
  border-radius: 0.1rem;
  background-color: #ebeef5;
}
.projectItemBarInner {
  border-radius: 0.1rem;
  background-color: #3Eb575;
}
.projectItem {
  margin-left:-0.2rem;
  position: relative;
  display: flex;
}
