@import "~@/styles/index.less";
.expertWrap{
  width:7rem;
  height:3rem;
  margin-top:0.2rem;
  margin-left:0.25rem;
  margin-right:0.25rem;
  display:flex;
  border-radius:0.1rem;
  overflow:hidden;
}
.expert{
  width:100%;
  height:100%;
  background-color: var(--theme-color);
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expertCell {
  width:90%;
  height:90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expertIcon{
  width:2rem;
  height:2rem;
}
.expertText{
  width:3rem;
  display:flex;
  flex-direction: column;
  align-items: center;

}
.expertTitle{
  height:0.5rem;
  font-size:0.32rem;
  font-weight: bolder;
  display:flex;
  align-items: center;
}
.expertDesc{
  height:0.5rem;
  font-size:0.25rem;
  display:flex;
  align-items: center;
}

.swiper {
  z-index:auto;
}
.swiper-wrapper{
  z-index:auto;

}
.expertWrap > .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 0.2rem;
  left: 0;
  width: 100%;
}
.swiper-pagination{
  z-index:auto;
}
.swiper-pagination-bullet{
  width:0.2rem;
  height:0.06rem;
  border-radius:0.1rem;
  background-color:rgba(0,0,0,.6);
  margin-left:0.03rem;
  margin-right:0.03rem;
}
.swiper-pagination-bullet-active{
  width:0.4rem;
  height:0.06rem;
  border-radius:0.1rem;
  background-color:#ebeef5;
}